.container-Outhome {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height:100vh;
    background: linear-gradient(325deg,  #910404 0%,#00c5fc 50%,#000000 100%);
  }
  
  .container-Inhome{
    width: 70%;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    justify-content: center;
    color: rgb(255, 0, 0);
    border-radius: 50px;
  
  }
  
  .container-Inhome h2 {
   justify-content: center;  }
  
 
  
  .rabbit-img {
    width: 25%;
    position: relative;
    display: grid;
    padding-left: 5%;
    padding-top: 2%;
  }
  
  .start {
    border-radius: 40px;
    text-decoration: none;
    width: 200px;
    margin: 20px auto;
    border: none;
    color: black;
    background: rgb(226,99,32);
    background: linear-gradient(0deg, rgb(165, 137, 13) 0%, gold 100%);
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 12px;
    cursor: pointer;
    outline: none;
    font-family: "Exo 2", sans-serif;
    display: block;
  }

  .GAME1 {
    width: 100%;
    height:100vh;
    background: linear-gradient(325deg,  #002bd7 0%,#00c5fc 50%,rgb(136, 0, 0) 100%);
}